In [86]:
pip install tabulate

Note: you may need to restart the kernel to use updated packages.Collecting tabulate

  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9

In [64]:
import mysql.connector as c

In [65]:
import pandas as pd

In [73]:
connection = c.connect(host= "localhost",user= "root", database = "multi_spe_hospital")

In [74]:
cursor = connection.cursor()

In [75]:
query2 = "select * from patients"

In [76]:
# executing cursor
cursor.execute(query2)

In [77]:
# fetching tables
table_rows = cursor.fetchall()
print("Total Number of rows in table:", cursor.rowcount)

Total Number of rows in table: 5

In [78]:
df

,CUSTOMER_NAME,CUSTOMER_ID,CUSTOMER_OPEN_DATE,LAST_CONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,DOB,FLAG
0,Alex,123457,2012-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A
1,Jacob,1256,2012-10-12,2012-10-13,MVD,,VIC,AU,1987-03-06,A
2,Jhon,123458,2012-10-12,2012-10-13,MVD,,TN,IND,1987-03-06,A
3,Mathew,123459,2012-10-12,2012-10-13,MVD,,WAS,PHIL,1987-03-06,A
4,Matt,12345,2012-10-12,2012-10-13,MVD,,BOS,NYC,1987-03-06,A

In [81]:
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)

In [87]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
    data.to_csv('C:/Users/prate/Table_' + country + ".csv")  # replace path with your desired path
    print("File has been created to the specified path")

In [88]:
# calling functions

df1= show_data("IND")
get_file("IND")

  CUSTOMER_NAME CUSTOMER_ID CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
2          Jhon      123458         2012-10-12          2012-10-13

  VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
2              MVD                     TN     IND  1987-03-06    A
File has been created to the specified path

In [92]:
# displaying the DataFrame in table
from tabulate import tabulate
print(tabulate(df1, headers = 'keys', tablefmt = 'sql'))

In [93]:
show_data("AUS")
get_file("AUS")

Empty DataFrame
Columns: [CUSTOMER_NAME, CUSTOMER_ID, CUSTOMER_OPEN_DATE, LAST_CONSULTED_DATE, VACCINATION_TYPE, DOCTOR_CONSULTED, STATE, COUNTRY, DOB, FLAG]
Index: []
File has been created to the specified path